* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
header {
  text-align: center;
}
.input {
  margin-top: 0.5rem;
  padding: 5px;
}
input {
  width: 20rem;
  height: 1.5rem;
  padding: 3px;
  font-size: 1rem !important;
}
.bottom {
  display: flex;
  gap: 2rem;
}
.bottom input,
.bottom select {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  padding: 5px;
}
#postcode {
  width: 12rem;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.checkbox input {
  width: 1rem;
}

/* *item side */

.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}
.item img {
  border-radius: 10px;
  width: 10rem;
}
.price {
  color: orange;
  font-weight: 500;
  font-size: 1.5rem;
}
.old-price {
  text-decoration: line-through;
  color: black;
  font-size: 1.1rem;
}
.items {
  background-color: rgb(226, 222, 222);
}
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}
.count {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
  padding: 0.5rem;
}
.count span {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
}
.count i {
  cursor: pointer;
}
.count i:active {
  transform: scale(0.95);
}

.total-field {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
  border-bottom: 1px solid black;
}
